@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 215 28% 17%;
    --muted: 209 28% 94%;
    --muted-foreground: 215 16% 47%;
    --accent: 209 28% 94%;
    --accent-foreground: 215 28% 17%;
    --border: 213 27% 84%;
    --input: 213 27% 84%;
    --ring: 239 84% 67%;
  }

  .dark {
    --background: 215 39% 18%;
    --foreground: 210 40% 98%;
    --muted: 215 28% 27%;
    --muted-foreground: 215 20% 65%;
    --accent: 215 28% 27%;
    --accent-foreground: 210 40% 98%;
    --border: 215 28% 27%;
    --input: 215 28% 27%;
    --ring: 239 84% 67%;
  }
}

html,
body,
#root {
  width: 100%;
  overflow-x: hidden;
}
